name: Build with OpenFOAM v2306
on:
  push:
    branches-ignore:
      - 'OpenFOAM*'
    paths-ignore:
      - 'docs/**'
      - 'tools/**'
      - 'CHANGELOG.md'
      - 'CONTRIBUTING.md'
      - 'README.md'
  pull_request:
    branches-ignore:
      - 'OpenFOAM*'
    paths-ignore:
      - 'docs/**'
      - 'tools/**'
      - 'CHANGELOG.md'
      - 'CONTRIBUTING.md'
      - 'README.md'
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Setup caches
      uses: actions/cache@v2
      id: cache-id
      with:
        path: ${{ runner.temp }}/cache-directory
        key: ${{ runner.os }}-cache-dependencies-v1.0
    - name: Install dependencies (considering cache)
      uses: airvzxf/cache-anything-new-action@v1.0.1
      with:
        script: 'install-dependencies.sh'
        is_cached: ${{ steps.cache-id.outputs.cache-hit }}
        cache: ${{ runner.temp }}/cache-directory
        snapshot: '/'
        exclude: '/boot /data /dev /mnt /proc /run /sys'
    - name: Build OpenFOAM-preCICE adapter
      run: /usr/bin/openfoam2306 ./Allwmake
